<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{components/header}"></div>
<body class="h-screen waves-bg flex flex-col justify-center bg-gray-50">
    <div class="py-24 px-6 sm:py-32 lg:px-8">
        <div class="p-6 bg-white mx-auto mt-10 max-w-xl shadow rounded-lg">
            <a href="/emission-tax-calculator" class="block w-full rounded-md bg-indigo-600 px-8 py-4 text-center text-md font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Taršos mokesčio skaičiuoklė</a>
        </div>
    </div>
    <div th:replace="~{components/footer}"></div>
</body>
</html>